header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.nav {
    position: fixed;
    color: white;
    background-color: rgb(0, 0, 0);
    right: 0;
    top: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    transform: translate(100%);
}

.show-nav {
    transform: translate(0);
}

.desktop-nav {
    position: static;
    transform: translate(0);
    height: auto;
}

.desktop-nav .close-btn {
    display: none;
}

.desktop-nav ul {
    padding: 0;
    display: flex;
    gap: 1rem;
}

.sidebar-toggle {
    background: none;
    border: none;
    font-size: 2rem;
    align-self: center;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.25rem;
    margin: 1rem;
    align-self: start;
    justify-self: end;
    color: white;
}

ul {
    padding: 1rem 10rem 3rem 3rem;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    margin-block: .85rem;
    border: 1px solid transparent;
    padding: .25rem .5rem;
}

li:hover {
    border: 1px solid black;
    border-radius: .5rem;
    background-color: black;
    color: white;
}